.member_pic,
.member_own_pic {
    width: 100%;
}

.member_inf {
    padding: 5px;
}

.card-title a {
    text-decoration: none;
    color: #000;
}

.card-title a :hover {
    text-decoration: underline;
}

.member_card_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.member_evaluation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rwd-table {
    background: #fff;
    overflow: hidden;
  }

  .rwd-table tr:nth-of-type(2n) {
    background: #eee;
  }

  .rwd-table th,
  .rwd-table td {
    margin: 0.5em 1em;
  }

  .rwd-table {
    min-width: 100%;
  }

  .rwd-table th {
    display: none;
  }

  .rwd-table td {
    display: block;
  }

  .rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
  }

  .rwd-table th,
  .rwd-table td {
    text-align: left;
  }

  .rwd-table th,
  .rwd-table td:before {

    font-weight: bold;
  }

  .table {
    width: 100%;
    table-layout: fixed;
  }

  .member_evaluation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (min-width: 1200px) {
    .rwd-table td:before {
      display: none;
    }

    .rwd-table th,
    .rwd-table td {
      display: table-cell;
      padding: 0.25em 0.5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
      padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
      padding-right: 0;
    }

    .rwd-table th,
    .rwd-table td {
      padding: 1em !important;
    }
  }